@use "variables" as vars;

.settings_page {
  height: 100%;
}

.settings_footer {
  border-top: light-dark(
    1px solid var(--mantine-color-gray-3),
    1px solid var(--mantine-color-dark-4)
  );
}

.settings_input {
  width: 40%;

  @media (max-width: vars.$mantine-breakpoint-sm) {
    width: 100%;
  }
}
.settings_select {
  width: 30%;

  @media (max-width: vars.$mantine-breakpoint-sm) {
    width: 100%;
  }
}

.tabs_scroll {
  flex-wrap: nowrap;
  overflow: scroll;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
}


.hide_mobile {
  @media (max-width: vars.$mantine-breakpoint-xs) {
    display: none;
  }
}