@use "variables" as vars;

.after_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media (max-width: vars.$mantine-breakpoint-sm) {
    flex-direction: column-reverse;
    padding-bottom: 0;
  }
}
