@use "variables" as vars;

.search_lyricsbox {
  width: 450px;
  max-width: 450px;

  @media (max-width: vars.$mantine-breakpoint-lg) {
    display: none;
  }

  .song_lyrics {
    white-space: pre-wrap !important;
  }

  .song_title {
    color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-white));
  }
}
