@use "variables" as vars;

.table_responsive {
  @media (max-width: vars.$mantine-breakpoint-sm) {
    display: none;
  }
}

.engine_component {
  cursor: pointer;
  width: fit-content;
  padding-right: 12px;
}
