@use "functions" as func;
@use "variables" as vars;

.search_row {
  .text_title {
    font-size: var(--mantine-font-size-xl);

    color: light-dark(
      var(--mantine-color-indigo-9),
      var(--mantine-color-white)
    );

    &.text_title_visited {
      color: light-dark(
        var(--mantine-color-indigo-7),
        var(--mantine-color-dark-1)
      );
    }
  }

  &:hover {
    .text_title {
      text-decoration: underline;
    }
  }

  @media (max-width: vars.$mantine-breakpoint-sm) {
    background-color: light-dark(
      var(--mantine-color-white),
      var(--mantine-color-dark-7)
    );

    border: 1px solid
      light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));

    padding: var(--mantine-spacing-md);

    border-radius: 6px;

    .text_title {
      font-size: var(--mantine-font-size-md);

      white-space: normal;
    }
  }
}
