@use "functions" as func;
@use "variables" as vars;

.search_section {
  .flex {
    width: func.to-rem(650px);
  }

  @media (max-width: vars.$mantine-breakpoint-sm) {
    width: 100%;

    .app_logo {
      display: none;
    }

    .flex {
      width: 100%;
    }
  }
}
