@use "functions" as func;
@use "variables" as vars;

.index_page {
  height: calc(100dvh - 70px - 60px);

  .center {
    height: 100%;
    width: 100%;
  }

  .flex {
    width: 100%;
  }

  .app_name {
    font-size: func.to-rem(100px);
    color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-gray-4));
  }

  @media (max-width: vars.$mantine-breakpoint-sm) {
    .app_name {
      font-size: func.to-rem(60px);
    }
  }
}
